.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: black;
}

h1 {
  color: white;
  font-family: 'Shrikhand', cursive;
  font-size: 72px;
  margin-bottom: 24px;
  background: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  background: transparent;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  border-radius: 16px;
  max-width: 800px;
  margin: 36px auto 48px;
  padding: 24px;
  width: fit-content;
}

.desktop {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  padding: 48px;
}

.code-editor:before,
.code-editor span.control:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}

.code-editor {
  position: relative;
  border-radius: 6px;
  box-sizing: border-box;
  text-align: left;
  overflow: hidden;
  width: fit-content;
}

.code-editor:before {
  border-radius: 5px 5px 0 0;
  top: 0px;
  height: 25px;
  width: 100%;
}

.code-editor span.control:before {
  content: "";
  top: 8px;
  z-index: 100;
  padding: 4px;
  border-radius: 100%;
}

span.close:before {
  margin-left: 15px;
  background-color: #df6963;
}

span.min:before {
  margin-left: 35px;
  background-color: #f5e18a;
}

span.max:before {
  margin-left: 55px;
  background-color: #97c38a;
}

pre {
  position: relative;
  margin: 0;
  white-space: break-spaces;
  word-wrap: break-word;
}

code {
  background-color: white;
  display: block;
  overflow-x: auto;
}

code, textarea {
  padding: 16px !important;
  padding-top: 36px !important;
  padding-bottom: 18px !important;
  min-width: 360px;
  max-width: 700px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 24px 0 0 0;
}

.actions .selector {
  flex: 0 0 200px;
  margin-right: 16px;
  text-align: left;
  z-index: 1000;
}

.selector-icon {
  background: black;
  border: 2px solid white;
  border-radius: 6px 0 0 6px;
  padding: 7px 8px 6px;
  margin-right: -2px;
  height: 23px;
}
.selector-icon img {
  height: 22px;
  filter: invert(1);
}

select {
  border: none;
  height: 28px;
  border-radius: 6px;
  margin-right: 8px;
  padding-left: 6px;
}

button {
  background: black;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 4px 12px;
}

textarea {
  position: absolute;
  background: transparent;
  color: transparent;
  caret-color: #aad3f9;
  top: 0;
  height: calc(100% - 54px);
  width: calc(100% - 26px);
  border: none;
  resize: none;
  overflow: hidden;
}

.code-text {
  font-family: monospace;
  font-size: 14px;
  line-height: 20px;
}

.footer {
  font-size: 14px;
  color: rgba(241, 241, 241, 0.908);
  margin-top: 32px;
}

.footer a {
  color: rgba(241, 241, 241, 0.908);
}
